{{#if erro_msg}}
<div class="container msg">
    <div class="alert center-align ">{{erro_msg}}
    </div>
</div>
{{/if}} {{#if error}}
<div class="container msg">
    <div class="alert center-align ">{{error}}
    </div>
</div>
{{/if}}
 {{#if sucesso_msg}}
<div class="container msg">
    <div class="success center-align ">
        <h6>{{sucesso_msg}}</h6>
    </div>
</div>
{{/if}}