<div class="row"></div>
<footer class="page-footer bordaVerde">
    <div class="container">
       <p>© <script type="text/javascript">document.write(new Date().getFullYear());</script> fabricio215@hotmail.com</p>
    </div> 
</footer>