<div class="container_light">
    <h3 class="center-align">Auto-Sheet Tutorial</h3>
    <div class="divider"></div>
    <div class="section">
        <h5>1-Cadastro</h5>
        <div class="row">
            <div class="col l12 s12 m12">
                <h6>1.1-Versão desktop</h6>
                <img class="responsive-img" src="./img/cadastro1.PNG" alt="Modo desktop">
            </div>
            <div class="col l12 s12 m12">
                <h6>1.2-Versão mobile</h6>
                <p>Clique no menu</p>
                <img class="responsive-img" src="./img/cadastro2.PNG" alt="Modo mobile">
                <img class="responsive-img" src="./img/cadastro3.PNG" alt="Modo mobile">
            </div>
            <div class="col l12 s12 m12">
                <h6>1.3 Tela de cadastro</h6>
                <img class="responsive-img" src="./img/cadastro4.PNG" alt="Modo desktop">
                <p>Logo após o cadastro o usuário já poderá logar no sistema e o mesmo receberá no email cadastrado seu
                    login e senha</p>

            </div>
        </div>
    </div>
    <div class="divider"></div>
    <div class="section">
        <h5>Dashboard</h5>
        <div class="row">
            <p>Após se logar o usuário é direcionado para a Dashboard</p>
            <div class="col l12 s12 m12">
                <h6>1.1-Versão desktop</h6>
                <img class="responsive-img" src="./img/dashboard1.png" alt="Modo desktop">
            </div>
            <div class="col l12 s12 m12">
                <h6>1.2-Versão mobile</h6>
                <img class="responsive-img" src="./img/dashboard2.png" alt="Modo mobile">
            </div>
            <div class="col l12 s12 m12">
                <h6>1.3-Perfil do usuário</h6>
                <p>Aqui é possível visualizar o nome e email do usuário e editar o perfil.</p>
                <img class="responsive-img" src="./img/dashboardPerfil.png" alt="Editar Perfil">
            </div>
            <div class="col l12 s12 m12">
                <h6>1.3.1-Editar perfil</h6>
                <p>Aqui é possível editar ou deletar o seu perfil.</p>
                <p>Versão desktop</p>
                <img class="responsive-img" src="./img/dashboardPerfilEditarDesktop.png" alt="Editar Perfil">
                <p>Versão mobile</p>
                <img class="responsive-img" src="./img/dashboardPerfilEditarMobile.png" alt="Editar Perfil">
            </div>
            <div class="col l12 s12 m12">
                <h6>1.3.2-Deletar perfil</h6>
                <h6 class="red-text text-darken-2">ATENÇÃO:Ao escolher essa opção tudo relacionado ao seu
                    perfil(planilha,email) serão deletados.</h6>
                <img class="responsive-img" src="./img/dashboardPerfilDeletar.png" alt="Deletar Perfil">
            </div>
            <div class="col l12 s12 m12">
                <h6>1.4-Subir/Deletar Planilha</h6>
                <img class="responsive-img" src="./img/dashboardPlanilha.png" alt="Editar Planilha">
            </div>
            <div class="col l12 s12 m12">
                <h6>1.4.1-Upload da Planilha</h6>
                <p>Clique no botão laranja para escolher o arquivo para upload.</p>
                <img class="responsive-img" src="./img/dashboardPlanilhaUpload.png" alt="Editar Planilha">
                <h6 class="red-text text-darken-2">ATENÇÃO:somente planilhas no formato xslx.</h6>
                <p>Modelo poderá ser baixado no link mostrado na imagem abaixo. </p>
                <img class="responsive-img" src="./img/dashboardPlanilhaModeloLink.png" alt="Baixar Planilha">
                <p>Após escolher seu arquivo clique no botão enviar e sua planilha será salva no sistema. </p>
                <p>Versão desktop</p>
                <img class="responsive-img" src="./img/dashboardPlanilhaDesktop.png" alt="Editar Planilha">
                <p>Versão mobile</p>
                <img class="responsive-img" src="./img/dashboardPlanilhaMobile.png" alt="Editar Planilha">
            </div>
            <div class="col l12 s12 m12">
                <h6>1.4.2-Deletar Planilha</h6>
                <p>Clique no botão da imagem abaixo e sua planilha será deletada do sistema. </p>
                <img class="responsive-img" src="./img/dashboardPlanilhaDeletar.png" alt="Deletar Planilha">
            </div>
            <div class="col l12 s12 m12">
                <h6>1.5-Email</h6>
                <p>Clique no botão da imagem abaixo para editar seu email automático. </p>
                <img class="responsive-img" src="./img/dashboardEmail.png" alt="Email">
            </div>
            <div class="col l12 s12 m12">
                <h6>1.5.1- Editar email</h6>
                <p>Aqui é possível editar ou deletar o seu email automático. </p>
                <p>Versão desktop</p>
                <img class="responsive-img" src="./img/dashboardEmailEditarDesktop.png" alt="Email">
                <p>Versão mobile</p>
                <img class="responsive-img" src="./img/dashboardEmailEditarMobile.png" alt="Email">
            </div>
        </div>
        <div class="divider"></div>
        <div class="section">
            <h5>Planilha</h5>
            <p>Imagem da planilha modelo</p>
            <img class="responsive-img" src="./img/planilhaModelo.png" alt="Planilha">
            <p>Imagem da planilha modelo preenchida</p>
            <img class="responsive-img" src="./img/planilhaModeloPreenchida.png" alt="Planilha">
            <h6 class="red-text text-darken-2">ATENÇÃO:No campo COLABORADOR o nome deve ser idêntico ao nome que foi
                cadastrado no sistema .</h6>
            <p>O campo DATA CORRETA deve ser alinhado com o campo DATA para não haver erro na hora do cálculo da data
                da planilha</p>
        </div>
        <div class="divider"></div>
        <div class="section">
            <h5>Conclusão</h5>
            <p>Após o cadastrado, upload da planilha e preenchimento do email, todo domingo o sua planilha será
                enviada ao email destinatário(com o email do usuário em cópia) e será atualizada para semana
                seguinte e salva no sistema </p>
        </div>
    </div>
</div>