<br class="hide-on-small-only">
<br class="hide-on-small-only">
<div class="row ">
    <div class="borda col l6 push-l3 m12 s12 animated slideInDown">
        <div class="row">
            <div class="bordaVerde">
                <h4 class="center-align white-text">Login</h4>
                <div class="divider"></div>
            </div>
            <div class="col l6 m12 s12">
                <div class="green-text text-darken-4 container center-align ">
                    <br>
                    <i class="fas fa-file-excel fa-10x"></i>
                </div>
            </div>
            <form action="/" method="POST" class="col l6 m12 s12">
                <div class="row">
                    <div class="input-field col s12">
                        <input id="email" type="email" class="validate" name="email">
                        <label for="email">Email</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col l6 s12 m12">
                        <input id="password" type="password" class="validate" name="password">
                        <label for="password">Senha</label>
                    </div>
                </div>
                <div class="col l6 push-l9 s12 m12">
                    <button class="btn-floating waves-effect waves green darken-4" type="submit">
                        <i class="fas fa-sign-in-alt"></i>
                    </button>

                </div>
            </form>
            <div class="col l5 push-l5 s12 push-s4 m12 push-m5">
                <a href="/novasenha">Esqueci minha senha</a>
            </div>
        </div>

    </div>
</div>